# fly.toml app configuration file generated for yahtzee-score-sheet on 2026-02-10T14:58:24+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'yahtzeenote'
primary_region = 'nrt'
console_command = 'php /var/www/html/artisan tinker'

[build]
  [build.args]
    NODE_VERSION = '18'
    PHP_VERSION = '8.2'

[env]
  APP_URL = 'https://yahtzeenote.fly.dev'
  APP_ENV = 'production'

  DB_CONNECTION = "pgsql"

  GOOGLE_REDIRECT_URL = 'https://yahtzeenote.fly.dev/auth/google/callback'
  
  LOG_CHANNEL = 'stderr'
  LOG_LEVEL = 'info'
  
  SESSION_DRIVER = 'cookie'


[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[deploy]
  release_command = "php artisan migrate --force"
