@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-heading: 'Open Sans', var(--font-sans);

    /* Brand red color */
    --color-brand-red-100: #F9E2E5;
    --color-brand-red-200: #F3C7CD;
    --color-brand-red-300: #ECACB5;
    --color-brand-red-400: #E6939D;
    --color-brand-red-500: #E07987;
     --color-brand-red-600: #DA6272;
     --color-brand-red-700: #D34C5E;
     --color-brand-red-800: #CD384B;
     --color-brand-red-900: #C7243A;

    /* Brand blue color */
    --color-brand-blue-100: #E3EAF6;
    --color-brand-blue-200: #C7D5EC;
    --color-brand-blue-300: #AEC1E3;
    --color-brand-blue-400: #95AFDA;
    --color-brand-blue-500: #7F9ED0;
    --color-brand-blue-600: #6A8CC7;
    --color-brand-blue-700: #567DBE;
    --color-brand-blue-800: #436FB4;
    --color-brand-blue-900: #3261AB;

    /* Brand yellow color */
    --color-brand-yellow-100: #FEF9E2;
    --color-brand-yellow-200: #FDF3C6;
    --color-brand-yellow-300: #FCEDAA;
    --color-brand-yellow-400: #FBE78E;
    --color-brand-yellow-500: #FAE173;
    --color-brand-yellow-600: #F9DB57;
    --color-brand-yellow-700: #F8D53B;
    --color-brand-yellow-800: #F7D020;
    --color-brand-yellow-900: #F6CA06;

    /* Legacy zinc colors */
    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    html, body {
        font-family: var(--font-sans);
    }

    h1, h2, h3, h4, h5, h6, p {
        font-family: var(--font-heading);
    }

    /* Remove spinner for number inputs (Chrome, Safari, Edge, Firefox) */
    input[type="number"] {
        -webkit-appearance: none; /* Chrome, Safari, Edge */
        -moz-appearance: textfield !important; /* Firefox */
        appearance: textfield;
        -moz-user-select: auto;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none; /* Chrome, Safari, Edge */
        margin: 0;
    }

    /* Firefox specific inner focus/border removal */
    input[type="number"]::-moz-focus-inner {
        border: 0;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

}

@layer components {
    
    /* Background */
    .bg-brand-red-100 { background-color: var(--color-brand-red-100); }
    .bg-brand-red-200 { background-color: var(--color-brand-red-200); }
    .bg-brand-red-300 { background-color: var(--color-brand-red-300); }
    .bg-brand-red-400 { background-color: var(--color-brand-red-400); }
    .bg-brand-red-500 { background-color: var(--color-brand-red-500); }
    .bg-brand-red-600 { background-color: var(--color-brand-red-600); }
    .bg-brand-red-700 { background-color: var(--color-brand-red-700); }
    .bg-brand-red-800 { background-color: var(--color-brand-red-800); }
    .bg-brand-red-900 { background-color: var(--color-brand-red-900); }

    .bg-brand-blue-100 { background-color: var(--color-brand-blue-100); }
    .bg-brand-blue-200 { background-color: var(--color-brand-blue-200); }
    .bg-brand-blue-300 { background-color: var(--color-brand-blue-300); }
    .bg-brand-blue-400 { background-color: var(--color-brand-blue-400); }
    .bg-brand-blue-500 { background-color: var(--color-brand-blue-500); }
    .bg-brand-blue-600 { background-color: var(--color-brand-blue-600); }
    .bg-brand-blue-700 { background-color: var(--color-brand-blue-700); }
    .bg-brand-blue-800 { background-color: var(--color-brand-blue-800); }
    .bg-brand-blue-900 { background-color: var(--color-brand-blue-900); }

    .bg-brand-yellow-100 { background-color: var(--color-brand-yellow-100); }
    .bg-brand-yellow-200 { background-color: var(--color-brand-yellow-200); }
    .bg-brand-yellow-300 { background-color: var(--color-brand-yellow-300); }
    .bg-brand-yellow-400 { background-color: var(--color-brand-yellow-400); }
    .bg-brand-yellow-500 { background-color: var(--color-brand-yellow-500); }
    .bg-brand-yellow-600 { background-color: var(--color-brand-yellow-600); }
    .bg-brand-yellow-700 { background-color: var(--color-brand-yellow-700); }
    .bg-brand-yellow-800 { background-color: var(--color-brand-yellow-800); }
    .bg-brand-yellow-900 { background-color: var(--color-brand-yellow-900); }

    /* Hover background */
    .hover\:bg-brand-yellow-100:hover { background-color: var(--color-brand-yellow-100); }
    .hover\:bg-brand-yellow-200:hover { background-color: var(--color-brand-yellow-200); }
    .hover\:bg-brand-yellow-300:hover { background-color: var(--color-brand-yellow-300); }
    .hover\:bg-brand-yellow-400:hover { background-color: var(--color-brand-yellow-400); }
    .hover\:bg-brand-yellow-500:hover { background-color: var(--color-brand-yellow-500); }
    .hover\:bg-brand-yellow-600:hover { background-color: var(--color-brand-yellow-600); }
    .hover\:bg-brand-yellow-700:hover { background-color: var(--color-brand-yellow-700); }
    .hover\:bg-brand-yellow-800:hover { background-color: var(--color-brand-yellow-800); }
    .hover\:bg-brand-yellow-900:hover { background-color: var(--color-brand-yellow-900); }

    /* Border */
    .border-brand-yellow-100 { border-color: var(--color-brand-yellow-100); }
    .border-brand-yellow-200 { border-color: var(--color-brand-yellow-200); }
    .border-brand-yellow-300 { border-color: var(--color-brand-yellow-300); }
    .border-brand-yellow-400 { border-color: var(--color-brand-yellow-400); }
    .border-brand-yellow-500 { border-color: var(--color-brand-yellow-500); }
    .border-brand-yellow-600 { border-color: var(--color-brand-yellow-600); }
    .border-brand-yellow-700 { border-color: var(--color-brand-yellow-700); }
    .border-brand-yellow-800 { border-color: var(--color-brand-yellow-800); }
    .border-brand-yellow-900 { border-color: var(--color-brand-yellow-900);}

    /* Hover border */
    .hover\:border-brand-yellow-100:hover { border-color: var(--color-brand-yellow-100); }
    .hover\:border-brand-yellow-200:hover { border-color: var(--color-brand-yellow-200); }
    .hover\:border-brand-yellow-300:hover { border-color: var(--color-brand-yellow-300); }
    .hover\:border-brand-yellow-400:hover { border-color: var(--color-brand-yellow-400); }
    .hover\:border-brand-yellow-500:hover { border-color: var(--color-brand-yellow-500); }
    .hover\:border-brand-yellow-600:hover { border-color: var(--color-brand-yellow-600); }
    .hover\:border-brand-yellow-700:hover { border-color: var(--color-brand-yellow-700); }
    .hover\:border-brand-yellow-800:hover { border-color: var(--color-brand-yellow-800); }
    .hover\:border-brand-yellow-900:hover { border-color: var(--color-brand-yellow-900);}
}

@layer utilities {

    /* Text */
    .text-brand-red-100 { color: var(--color-brand-red-100); }
    .text-brand-red-200 { color: var(--color-brand-red-200); }
    .text-brand-red-300 { color: var(--color-brand-red-300); }
    .text-brand-red-400 { color: var(--color-brand-red-400); }
    .text-brand-red-500 { color: var(--color-brand-red-500); }
    .text-brand-red-600 { color: var(--color-brand-red-600); }
    .text-brand-red-700 { color: var(--color-brand-red-700); }
    .text-brand-red-800 { color: var(--color-brand-red-800); }
    .text-brand-red-900 { color: var(--color-brand-red-900); }

    .text-brand-blue-100 { color: var(--color-brand-blue-100); }
    .text-brand-blue-200 { color: var(--color-brand-blue-200); }
    .text-brand-blue-300 { color: var(--color-brand-blue-300); }
    .text-brand-blue-400 { color: var(--color-brand-blue-400); }
    .text-brand-blue-500 { color: var(--color-brand-blue-500); }
    .text-brand-blue-600 { color: var(--color-brand-blue-600); }
    .text-brand-blue-700 { color: var(--color-brand-blue-700); }
    .text-brand-blue-800 { color: var(--color-brand-blue-800); }
    .text-brand-blue-900 { color: var(--color-brand-blue-900); }

    .text-brand-yellow-100 { color: var(--color-brand-yellow-100); }
    .text-brand-yellow-200 { color: var(--color-brand-yellow-200); }
    .text-brand-yellow-300 { color: var(--color-brand-yellow-300); }
    .text-brand-yellow-400 { color: var(--color-brand-yellow-400); }
    .text-brand-yellow-500 { color: var(--color-brand-yellow-500); }
    .text-brand-yellow-600 { color: var(--color-brand-yellow-600); }
    .text-brand-yellow-700 { color: var(--color-brand-yellow-700); }
    .text-brand-yellow-800 { color: var(--color-brand-yellow-800); }
    .text-brand-yellow-900 { color: var(--color-brand-yellow-900); }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* flux input */

[data-flux-input] {
    border-width: 2px;
    border-color: gray; 
}

/* === form style reset === */
input,
textarea,
select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  opacity: 1
}

